/I Examen/Laboratorios/Lab1_Collections/build/
/I Examen/Laboratorios/Lab1_B35473_B33769/nbproject/private/
/I Examen/Laboratorios/ExerciseCreationalPatterns/nbproject/private/
/I Examen/Laboratorios/ExerciseCreationalPatterns/build/
/I Examen/Tareas/JavaApplication5/nbproject/private/
/I Examen/Tareas/TC2_PatronDecorator_B57970_B35473/TC2_Decorator_B57970_B35473/build/
/I Examen/Tareas/Exercise2_StructuralPattern/nbproject/private/
/I Examen/Tareas/Exercise2_StructuralPattern/src/ProyectosComposite/nbproject/private/
/I Examen/Tareas/Exercise2_StructuralPattern/build/
/I Examen/Tareas/ExerciseBehavioralPatterns/nbproject/private/
/I Examen/Tareas/ExerciseBehavioralPatterns/build/
/I Examen/Laboratorios/Lab2/nbproject/private/